   body{
    background-color: rgb(162, 136, 102);
   }

   #par1{
    color: blue;
    font-size: 20px;
    padding-bottom: 40px;
    text-align: center;
   }

   #par2{
    color: rgb(166, 192, 192);
    font-size: 23px;
    background-color: aqua;
    padding: 10px;
    text-align: end;
    text-transform: uppercase;
    text-decoration: underline;

   }
    #par3{color: blueviolet;
        background-color: chocolate;
        font-size: 23px;
        text-transform: capitalize;
        text-decoration: double;
        padding: 23px;

    }  
    #in{
        color: black;
        text-decoration: underline;
    } 
    .myclassroom{
        color: crimson;
        font-size: 24px;
        background-color: chartreuse;
        padding: 12px;
    }

    .mydiv{
        color: red;
        font-size: 25px;
        text-align: center;
    }