#flag{
    position: relative;
    width: 900px;
    margin: 40px auto;
}

#division1{
    background-color: black;
    height: 150px;
    width: 100%;
}

.division2{
    background-color: white;
    height: 20px;
    width: 100%;

}

#division3{
    background-color: red;
    height: 150px;
    width: 100%;
}

#division4{
    background-color: green;
    height: 150px;
    width: 100%;
}

#shield{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%,-50%);
    height: 200px;
    width: auto;
    z-index:400 ;
    object-fit: contain;
}


