body{
    background-color: rgb(244, 235, 235);
}

h1{
    background-color: aqua;
    font-size: 60px;
    color: antiquewhite;
    letter-spacing: 12px;  
    word-spacing: 20px;
    text-align: center;
    font-variant : small-caps;
} 
p{
    font-weight: 300;
    font-size: 20px;
    word-spacing: 10px;
    text-decoration: overline;
}


h2{
    /* border: 5px black solid; */
    border-top: 5px black solid;
    border-right: 5px black solid;
    border-bottom: 5px black solid;
    border-left: 5px black solid; 
    /* padding  */
    /* padding: 50px  */
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

    /* margin  */
     margin-top: 40px;
     margin-right: 40px;
     margin-bottom: 40px;
     margin-left:40px ;

}

a{
    text-decoration: none;
    font-size: 20px;
    background-color: brown;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
     margin-right: 15px;
}

a:hover{
    background-color: antiquewhite;
    color: beige;
    text-decoration: underline;
}

h1:hover{
    color: blue;
}